<mat-form-field class="formulario-pesquisa">
  <label for="usuary-search" id="titulo-pesquisa">Nome do Usuário</label>
  <input type="search" id="usuary-search">
  <span class="material-icons" id="pesquisar">search</span>
  <button class="botao-pesquisar">Pesquisar</button>
  </mat-form-field>

  <mat-card>
    <mat-toolbar color="primary">Lista de usuários</mat-toolbar>

    <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">

    <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.nome }} </td>
      </ng-container>

    <!-- Sobrenome Column -->
      <ng-container matColumnDef="sobrenome">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.sobrenome }} </td>
      </ng-container>

    <!-- Senha Column -->
      <ng-container matColumnDef="senha">
        <th mat-header-cell *matHeaderCellDef> Senha </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.senha }} </td>
      </ng-container>

    <!-- E-mail Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.email }} </td>
      </ng-container>

    <!-- Função Column -->
      <ng-container matColumnDef="funcao">
        <th mat-header-cell *matHeaderCellDef> Função </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.funcao }}
          <span class="material-icons" id="editar">mode_edit</span>
          <span class="material-icons" id="excluir">delete</span></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>

    <div>
      <button class="button-novo-usuario">Novo Usuário</button>
    </div>
